<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>GERADOR DE PATADAS - COMO FUNCIONA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <center>
        <img src="{{ url_for('static', filename='img/favicon.ico') }}" height="50px" width="50px">
        <h1> || GERADOR DE PATADAS || </h1>

        <h4> || O gerador de patadas, funciona juntamente com uma inteligência artificial,<br> que gera uma patada (frase rude), que tem em base o que a pessoa te disse,<br> sendo falando mal de você, ou fazendo uma pergunta idiota || </h4>
    </center>
</body>
</html>