<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>GERADOR DE PATADAS - INÍCIO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <center>
        <img src="{{ url_for('static', filename='img/favicon.ico') }}" height="50px" width="50px">
        <h1> || GERADOR DE PATADAS || </h1>

        <a href="como_funciona">COMO FUNCIONA</a>
        <a href="mailto:contato@geradordepatadas.com">CONTATO POR E-MAIL</a>
        <p>PARA GERAR UMA NOVA PATADA, DIGITE NO SEU NAVEGADOR: geradordepatadas.com/gerador/"seu nome de usuario que recebeu quando comprou"/"kg-seu id que também recebeu quando comprou"/"o que a pessoa te disse OBS: os espaços tem que serem trocados por hífens ( - )"</p>
    </center>
</body>
</html>